@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		scroll-behavior: smooth;
	}

	html,
	body {
		@apply h-full;
	}

	#__next {
		@apply isolate flex min-h-full flex-col slashed-zero bg-primary text-white;
	}

	#__next > * {
		@apply flex-1 flex flex-col min-h-full;
	}

	.fallback-text {
		@apply py-6 px-2 mx-auto mb-auto mt-[20vh] text-center rounded-xl;
	}

	.fallback-text button {
		@apply underline p-0;
	}

	@keyframes slideUp {
		0% {
			transform: translateY(100%);
		}

		100% {
			transform: translateY(0%);
		}
	}

	@keyframes fadeIn {
		0% {
			opacity: 0;
		}

		100% {
			opacity: 1;
		}
	}

	.dialog {
		@apply max-w-full min-h-[40vh] max-h-[70vh] opacity-100 fixed top-0 left-0 bottom-0 right-0 m-auto z-50 flex flex-col w-full gap-6 p-4 overflow-auto rounded-t-xl text-white border border-white border-opacity-[0.08];

		background-color: #24262a;
		box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.32);
		animation: slideUp 350ms cubic-bezier(0.15, 1.15, 0.6, 1);
	}

	.dialog > * {
		animation: fadeIn 150ms ease;
	}

	.dialog hr {
		border-color: hsla(204, 5%, 24%, 50%);
	}

	.toastWithLink {
		@apply flex flex-col gap-1 text-sm font-medium min-w-[160px];
	}

	.toastWithLink a {
		@apply underline text-xs font-normal cursor-pointer;
	}

	.label {
		@apply flex flex-col gap-1 text-base;
	}

	.input-field {
		@apply rounded p-2 border-none bg-neutral-700 text-white placeholder:slashed-zero placeholder:font-mono;
	}

	[data-backdrop] {
		background-color: rgba(0, 0, 0, 0.4);
	}

	.beat-circle {
		display: inline-block;
		background-color: var(--circle-color);
		width: var(--circle-size);
		height: var(--circle-size);
		margin: 0px 2px;
		border-radius: 100%;
		-webkit-animation: beat 0.7s 0s infinite linear;
		animation: beat 0.7s 0s infinite linear;
		-webkit-animation-fill-mode: both;
		animation-fill-mode: both;
	}

	.beat-circle.center {
		-webkit-animation: beat 0.7s 0.35s infinite linear !important;
		animation: beat 0.7s 0.35s infinite linear !important;
	}

	@keyframes beat {
		50% {
			-webkit-transform: scale(0.75);
			-ms-transform: scale(0.75);
			transform: scale(0.75);
			opacity: 0.2;
		}

		100% {
			-webkit-transform: scale(1);
			-ms-transform: scale(1);
			transform: scale(1);
			opacity: 1;
		}
	}

	.placeholder-box {
		background-color: #202020;
		animation: shimmer 2s cubic-bezier(0.31, 0.29, 0.62, 0.59) infinite;
		background: linear-gradient(to right, #202020 5%, #252525 20%, #202020 40%);
		background-size: 1000px 100%;
		border-radius: 4px;
	}

	@keyframes shimmer {
		0% {
			background-position: -1000px 0;
		}
		100% {
			background-position: 1000px 0;
		}
	}

	@media (min-width: 40rem) {
		.dialog {
			@apply top-0 rounded-xl p-6 h-fit min-h-[initial];
			max-width: min(calc(100% - 32px), 560px);
			max-height: calc(100% - 32px);
		}
	}
}
